/bin/
.metadata/.log
.metadata/.log
*.ini
.metadata/.*
**/.metadata/**
*.tree
.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
*.xmi
*.resources
.metadata/.log
